*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #524488;
}

/*container*/

div {
  width: 80%;
  margin: auto;
  background-color: #fbf9ff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #2b2a2a;
  margin-bottom: 20px;
}

form { 
  display: flex;
  gap: 10px;
  margin-bottom: auto;
}

input {
  padding: 10px;
  border: 1px solid #dd0909;
  border-radius: 4px;
  width: 200px;
  outline: none;
}

input:focus {
  border-color: #008a7c;
}
button {
  padding: 10px 15px;
  background-color: #008a7c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #006f63;
}

button[type="button"] {
  background-color: #ffffff;
}

button[type="button"]:hover {
  background-color: #515151;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #008a7c;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

button[style] {
  background: #d6301d;
}

button[style]:hover {
  background: #484747;
}